.input-cover{
    width:70%;
}

.form-check{
    width:50%;
    margin: 10px auto
}
.confirm{
    width:50%;
    max-width: 300px;
    min-width: fit-content;
    padding: 10px;
    margin: 10px auto;
    background-color: green;
}