.apprenticeship-process-front{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.342);
    font-size: 28px;
    text-align: center;
   
}
.apprenticeship-process-front img{
    font-size: 12px;
 }
 .check-elig-btn{
    width:200px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(4, 78, 161);
    border-radius: 20px;
    margin: 40px auto;
    margin-left: 40%;
  
 }

.apprenticeship-process-header{
    margin: auto;
}
.our-apprenticeship-process-container{
  
    display: inline-flex;
}
.our-apprenticeship-process-item--1{
    width: 45%;
    margin-left: 100px;
}
.our-apprenticeship-process-item{
    margin:0 70px 0 30px;

    }


.our-apprenticeship-process-item p{
    text-align: left;
    color:rgba(7, 7, 7, 0.788);
    padding-right: 80px;
    font-size: 18px;
    font-weight: 400;
}
.our-apprenticeship-process-item--1 img{

   width: 45%;
   margin:60px 0 0 100px ;
   border-radius: 10px;
   width: 350px;
   height: 300px;
  
}
.our-apprenticeship-process-item h1{
    color:rgba(7, 7, 7, 0.411);
    text-align: center;
}
.our-apprenticeship-process-item h2{
    color:#4EB0D5;
    text-align: left;
    font-weight: 500;
    font-size: 23px;
}
.our-apprenticeship-process-item h3{
    color:rgba(7, 7, 7, 0.801);
    text-align: left;
    padding-right: 40px;
    font-size: 36px;
   
}

@media (max-width: 1000px){
    .apprenticeship-process-front{
        text-align: left;
        margin-bottom: 40px ;
    }
    .apprenticeship-process-front p{
        padding: 0 ;
        text-align: left;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
    }
    .apprenticeship-process-front img{
       float: left;
       margin-left:10px ;
       margin-right:30px ;
       border-radius: 0px;
       width: 250px;
       height: 260px;
      
    }
    .apprenticeship-process-front h1{
        color:rgba(7, 7, 7, 0.411);
    
        text-align: center;
    }
    .apprenticeship-process-front p{
        text-align: left;
       
    }
}

@media (max-width: 700px){
    .apprenticeship-process-front{
        text-align: left;
        margin-bottom: 40px ;
        display: block;
    }
    .apprenticeship-process-front p{
        padding: 0 ;
        text-align: left;
        display:block;
        margin:20px ;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
    }
    .apprenticeship-process-front img{
       float: left;
       display:block;
       margin-right:30px ;
       border-radius: 0px;
       width: 80%;
       height: 260px;
      
    }
    .apprenticeship-process-front h1{
        color:rgba(7, 7, 7, 0.411);
    
        text-align: center;
    }
    .apprenticeship-process-front p{
        margin:10px ;
        text-align: left;
       
    }
}